* { box-sizing: border-box; margin: 0; padding: 0;}
#container { width: 1200px; margin: auto;}
#container > header { background: darkcyan; height: 90px; position: relative;}
#container > nav {height: 60px;  }
#container > footer { 
    margin: 20px 0; height: 90px;
    display: flex; align-items: center; justify-content: center;
    font-size: 1.5em;  background: darkcyan; color:white;
}
#container #frm { width: 900px;border: 1px solid black; }

#userinfo { position:absolute; right:10px; bottom:5px; color:yellow; text-align:right;}
#userinfo a { color: yellow; text-decoration: none;}
#userinfo a:hover { color: white}

#dsLoai { width: 900px;border: 1px solid black; }
#dsLoai td, #dsLoai th { text-align: center;}
#dsLoai caption { font-size: 1.4em; text-align: center; font-weight: bold;}


#dssanpham { width: 1200px; border: 1px solid black;}
#dssanpham caption { font-size: 1.4em; text-align: center; font-weight: bold;}
#dssanpham th  { text-align: center;}
#dssanpham td  { vertical-align: middle;}
#dssanpham tr td:last-child{ text-align: center; width: 130px;} 
#dssanpham tr td:nth-child(5){ width: 180px;} /*trạng thái*/
#dssanpham tr td:nth-child(4){ text-align: center; width: 90px;} /*ngay*/
#dssanpham tr td:nth-child(3){ width: 170px;} /*gia*/
#dssanpham tr td:nth-child(1){ width: 160px;} /*hình*/
